Repository micronaut-projects/micronaut-picocli, pull requests merged in 2020-09, with the labels that each got.

#66 [picocli] Update common files for branch master
  .github/workflows/release-notes.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: relates-to: build

#69 doc: Add repository section
  src/main/docs/guide/repository.adoc
  src/main/docs/guide/toc.yml
Labels: type: docs

#70 doc: add release history section
  src/main/docs/guide/releaseHistory.adoc
  src/main/docs/guide/toc.yml
Labels: type: docs

#72 doc: create cli apps with micronaut launch
  src/main/docs/guide/setup.adoc
  src/main/docs/resources/img/launch.png
Labels: type: docs

#74 doc: feature picocli de not exist. delete section in docs
  src/main/docs/guide/generate.adoc
Labels: type: docs

#76 doc: extract subcommands section
  src/main/docs/guide/quickstart.adoc
  src/main/docs/guide/subcommands.adoc
  src/main/docs/guide/toc.yml
Labels: type: docs

#75 doc: add back picocli example
  src/main/docs/resources/img/picocli-example.png
Labels: type: docs

#78 doc: no longer profile but application type
  src/main/docs/guide/generate.adoc
Labels: type: docs

#77 doc: extract customize section
  src/main/docs/guide/customize.adoc
  src/main/docs/guide/quickstart.adoc
  src/main/docs/guide/toc.yml
Labels: type: docs

#79 doc: decreate asciidoc header
  src/main/docs/guide/quickstart.adoc
Labels: type: docs

#80 doc: extract create section
  src/main/docs/guide/create.adoc
  src/main/docs/guide/setup.adoc
  src/main/docs/guide/toc.yml
Labels: type: docs

#82 doc: remove uncessary header
  src/main/docs/guide/subcommands.adoc
Labels: type: docs

#83 decrease picocli version to 4.4.0
  gradle.properties
Labels: relates-to: build

#84 ci: set github core branch to 2.0.x
  gradle.properties
Labels: relates-to: build

#30 Upgrade to Micronaut 2.x
  gradle.properties
Labels: relates-to: build

#85 bump up picocli to 4.5.1
  gradle.properties
Labels: relates-to: build

#87 build: bump up to 3.0.0.BUILD-SNAPSHOT
  gradle.properties
Labels: relates-to: build

#88 Delete PicocliTypeElementVisitor
  picocli/src/main/java/io/micronaut/configuration/picocli/annotation/PicocliTypeElementVisitor.java
  picocli/src/main/resources/META-INF/services/io.micronaut.inject.visitor.TypeElementVisitor
Labels: type: improvement

#94 Set Micronaut test to 2.0.0
  gradle.properties
Labels: type: dependency-upgrade
